{
  "expo": {
    "name": "GUSTS",
    "slug": "gusts-kitesurf",
    "version": "1.0.0",
    "orientation": "portrait",
    "icon": "./assets/icon-1024.png",
    "userInterfaceStyle": "light",
    "splash": {
      "image": "./assets/splash-1080.png",
      "resizeMode": "contain",
      "backgroundColor": "#1F2937"
    },
    "assetBundlePatterns": [
      "**/*"
    ],
    "ios": {
      "supportsTabletOnly": false,
      "bundleIdentifier": "com.gustskite.app",
      "buildNumber": "1"
    },
    "android": {
      "adaptiveIcon": {
        "foregroundImage": "./assets/adaptive-icon-1024.png",
        "backgroundColor": "#1F2937"
      },
      "package": "com.gustskite.app",
      "versionCode": 1
    },
    "web": {
      "favicon": "./assets/icon-1024.png"
    },
    "plugins": [
      [
        "expo-splash-screen",
        {
          "image": "./assets/splash-1080.png",
          "imageWidth": 500,
          "resizeMode": "contain",
          "backgroundColor": "#1F2937"
        }
      ]
    ]
  }
}
